:root {
  --verde-escuro: #3b5249;
  --verde-claro: #7daa92;
  --lavanda-claro: #f8f0fb;
  --texto-escuro: #2b2d42;
  --fundo-card: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--lavanda-claro);
  color: var(--texto-escuro);
}